
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>

<table>
    <tr>
        <td>Mã sinh viên:</td>
        <td></td>
    </tr>
    <tr>
        <td>Họ tên:</td>
        <td></td>
    </tr>
    <tr>
        <td>Lớp:</td>
        <td></td>
    </tr>
    <tr>
        <td>Ngày kiểm tra:</td>
        <td></td>
    </tr>
</table>