
@{
    ViewBag.Title = "UseRequest";
}
<h4>THÔNG TIN SINH VIÊN ĐÃ ĐĂNG KÍ</h4>
<table>
    <tr>
        <td>Mã sinh viên:  @ViewBag.Id</td>
    </tr>
    <tr>
        <td>Họ và tên:  @ViewBag.Name</td>
    </tr>
    <tr>
        <td>
            Điểm:  @ViewBag.Marks
        </td>
        <td>
            <a href="@Url.Action("ActionIndex","SinhVien_61133899")">Quay lại</a>
        </td>
    </tr>
</table>
